
.container {
    width: 1192px;
    margin: 0 auto;
}

body {
    background-color: #3a4965;
}

/*ICON ================== */

.icon-table {
    color: #848484;
    margin-right: 8px;
    font-size: 22px;
    position: relative;
    top: 2px;
}

.position-icon {
    position: relative;
}

/*Table =================*/

.pricing-table> tr, td, th {
    vertical-align: middle;
    text-align: center;
    cursor: default;
}

.pricing-table-page {
    padding: 15px 0 0 0;
}

.pricing-table {
    width: 1192px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.table-row {
    width: 277px;
}

/*THEAD ============== */

.thead-table {
    background-color: #fafafa;
}

.thead-cell-title {
    width: 310px;
    height: 156px;
}

.thead-cell {
    width: 277px;
    height: 71px;
}

.thead-title-desc {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #484848;
    text-transform: uppercase;
}

.thead-title {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #484848;
    text-transform: uppercase;
}

.thead-rate-first {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #89c331;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.thead-rate-second {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f04a56;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.thead-rate-third {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #20807c;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.thead-cell-price {
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: #484848;
    position: relative;
    padding-left: 25px;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.thead-price-sup {
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #484848;
    position: relative;
    bottom: 5px;
}

.thead-cell-price::after {
    content: 'per month';
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Arimo', sans-serif;
    color: #484848;
    font-weight: normal;
    position: relative;
    right: 30px;
    bottom: 2px;
}

/*TBODY ================*/

.tbody-cell {
    height: 71px;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #484848;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.cell-color-grey {
    background-color: #f2f2f2;
}

.cell-color-dgrey {
    background-color: #e3e3e3;
}

/*TFOOT ======================*/

.cell-color-ddgrey {
    background-color: #dddddd;
}

.cell-color-lgrey {
    background-color: #eeeeee;
}

.tfoot-cell {
    height: 110px;
    border-left: 2px solid rgba(0,0,0,0.1);
}

.tfoot-button-link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
    width: 192px;
    padding: 18px 0 9px;
    border-radius: 8px;
}

.button-black {
    background-color: #484848;
    box-shadow: 0 7px 0 0 rgba(64,64,64,1);
}

.button-black:hover {
    box-shadow: 0 7px 0 0 rgb(72, 72, 72);
}

.button-green {
    background-color: #89c331;
    box-shadow: 0 7px 0 0 rgb(121, 176, 39);
}

.button-green:hover {
    box-shadow: 0 7px 0 0 rgb(137, 195, 49);
}

.button-red {
    background-color: #f04a56;
    box-shadow: 0 7px 0 0 rgb(223, 58, 70);
}

.button-red:hover {
    box-shadow: 0 7px 0 0 rgb(240, 74, 86);
}

.button-dgreen {
    background-color: #20807c;
    box-shadow: 0 7px 0 0 rgb(22, 115, 111);
}

.button-dgreen:hover {
    box-shadow: 0 7px 0 0 rgb(32, 128, 124);
}